@model IEnumerable<MHM.WinFlexOne.CQRS.Dtos.PlanDto>

@{
    ViewBag.Title = "Plans";
}

<h2>Plans</h2>

@Html.ActionLink("Define New Plan", "DefinePlan", "Plans");

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlanType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("List Plan Years", "PlanYearList", new { planId = item.Id }) | 
            @Html.ActionLink("Define New Plan Year", "DefinePlanYear", new { planId = item.Id, companyId = item.CompanyId })
        </td>
    </tr>
}

</table>
